vti_encoding:SR|utf8-nl
vti_timelastmodified:TX|01 Nov 2010 13:41:04 -0000
vti_author:SR|TITO\\Tito
vti_modifiedby:SR|TITO\\Tito
vti_nexttolasttimemodified:TX|01 Nov 2010 13:41:04 -0000
vti_timecreated:TR|22 Feb 2015 12:59:42 -0000
vti_cacheddtm:TX|22 Feb 2015 12:59:42 -0000
vti_filesize:IR|3571
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/background.gif
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|ringraziamenti.html polish\\ pages/lastrenna_POL.html polish\\ pages/ringraziamenti_POL.html anno10.html lastrenna.html anno8.html anno9.html english\\ pages/ringraziamenti_ENG.html german\\ pages/monografia_DEU.html polish\\ pages/monografia_POL.html anno5.html anno6.html anno7.html monografia.html english\\ pages/lastrenna_ENG.html english\\ pages/monografia_ENG.html german\\ pages/lastrenna_DEU.html german\\ pages/ringraziamenti_DEU.html anno1.html anno11.html anno12.html anno13.html anno14.html anno2.html anno3.html anno4.html
vti_syncwith_localhost\\c\:\\users\\tito\\desktop\\gemmedartitaliane/c\:/users/tito/desktop/gemmedartitaliane:TW|22 Feb 2015 12:59:42 -0000
vti_syncofs_localhost\\c\:\\users\\tito\\desktop\\gemmedartitaliane/c\:/users/tito/desktop/gemmedartitaliane:TX|01 Nov 2010 13:41:04 -0000
vti_syncwith_ftp.gemmedartitaliane.com\:21:TX|22 Feb 2015 12:59:42 -0000
vti_syncofs_ftp.gemmedartitaliane.com\:21:TW|22 Feb 2015 07:14:00 -0000
vti_syncwith_siteground208.com\:21:TX|22 Feb 2015 12:59:42 -0000
vti_syncofs_siteground208.com\:21:TW|16 Apr 2016 13:59:00 -0000
vti_syncofs_cpanel.freehosting.com\:21:TW|19 Sep 2016 11:21:00 -0000
vti_syncwith_cpanel.freehosting.com\:21:TW|22 Feb 2015 12:59:42 -0000
vti_syncofs_cpanel.freehosting.com\:21/public_html:TW|19 Sep 2016 14:33:00 -0000
vti_syncwith_cpanel.freehosting.com\:21/public_html:TX|22 Feb 2015 12:59:42 -0000
